@{
    ViewBag.Title = "bloodTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong style="font-family:Lucida Handwriting">Blood Types</strong>
            </h2>
            <hr>
           <div class="row">
               <br />
           <p style="text-align:justify ">Simply put, a blood type can be defined as a red blood cell that contains a specific surface antigen (surface marker).
  Differences in human blood are due to the presence or absence of certain protein molecules called antigens and antibodies.
The antigens are located on the surface of the red blood cells and the antibodies are in the blood plasma.</p>
            <br />
        </div>
        <div class="col-sm-3 text-center">
            <img class="img-responsive" src="/images/BTA.png" width="256" height="230" alt="">
            <h3>

                <strong>Type A Blood </strong>
            </h3>  has A type Antigens
        </div>
        <div class="col-sm-3 text-center">
            <img class="img-responsive" src="/images/BTB.png" width="270" height="230" alt="">
            <h3>
                <strong>Type B Blood </strong>
            </h3>has B type Antigens
        </div>
        <div class="col-sm-3 text-center">
            <img class="img-responsive" src="/images/BTAB.png" width="268" height="230" alt="">
            <h3>

                <strong>Type AB Blood</strong>
            </h3> has both type Antigens
        </div>
        <div class="col-sm-3 text-center">
            <img class="img-responsive" src="/images/BTO.png" width="277" height="230" alt="">
            <h3>
                <strong>Type O Blood</strong> 
            </h3> has no antigens
        </div>
            <br />
        <div class="clearfix"></div>
            <br />
            <p>A blood type can be classed as positive or negative, this refers to a protein (called Rhesus) found on the covering of the red blood cells. A person's blood is Rhesus positive if the protein is present and Rhesus negative if the protein is absent.</p>

    </div>
</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">Still confused ? Watch this video.</div>
                <div class="col-sm-8">
                    <iframe width="600" height="338" src="https://www.youtube.com/embed/watch?v=z7NNbPyTft8" frameborder="0"></iframe>
                </div>
            </div>
    </div>
</div>