@{
    ViewBag.Title = "donationTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="box">
        <div class="col-xs-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong style="font-family:'Lucida Handwriting'">Donation types</strong>
            </h2>
            <hr>
        </div>
        <div class="col-sm-6 text-center">
            <img class="img-responsive" src="/images/DT1.jpg" width="293" height="302" alt="">
            <h3>
                <strong>Whole blood</strong> Donation
            </h3>
            <p>
                A whole blood donation is when blood is drawn from the vein directly into the blood storage bag.

                The average whole blood donation session takes between 15-30 minutes and results in just under 1 pint of blood being taken.

                Female whole blood donors can give every 4 months and male whole blood donors can give every 3 months.
            </p>

            <p style="font-weight:bold">Red blood cells have a shelf-life of 35 days.</p>
        </div>
        <div class="col-sm-6 text-center">
            <img class="img-responsive" src="/images/DT2.jpg" width="293" height="302" alt="">
            <h3>
                <strong >Component</strong> Donation
            </h3>
            <p>
                A component donation is when the blood is passed through a machine that separates out the components needed (usually platelets and plasma) and returns the remainder to the donor.

                A platelet donation can take up to 90 minutes and can help up to 3 adults or 12 babies.

                Red blood cells are returned so component donors can donate up to 15 times a year.
            </p>
            <p style="font-weight:bold">Platelets only have a shelf-life of 7 days.</p>
        </div>
    </div>
</div>